<head>
  <% content_for :title, 'ADMIN USERS' %>
</head>

<body>

<div class="top-content">

  <div class="inner-bg">

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1 class="page-header"><strong>ADMIN USERS</strong></h1>
        </div>
      </div>

      <div class="row">
        <div class="form-box">

          <div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                <div class="col-xs-7 col-sm-9">
                  <h4>
                    <strong>USERS</strong>
                  </h4>
                </div>
                <div class="col-xs-5 col-sm-3">
                  <%= link_to 'create user', {controller: :admin, action: :new_user}, class: 'btn btn-success' %>
                </div>
              </div>
              </div>
              <table class="table table-fixed">
                <thead>
                <tr>
                  <th class="col-xs-8 col-sm-6 col-md-6 col-lg-6">Email</th>
                  <th class="col-xs-2 col-sm-3 col-md-3 col-lg-3"></th>
                  <th class="col-xs-2 col-sm-3 col-md-3 col-lg-3"></th>
                </tr>
                </thead>
                <tbody>

                <% @users.each do |user| %>
                    <tr>
                      <td class="col-xs-8 col-sm-6 col-md-6 col-lg-6 left-al-cell">
                        <%= user.email %>
                      </td>
                      <td class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <%= link_to 'edit', {controller: :admin, action: :edit_user, id: user.id}, class: 'btn btn-info' %>
                        </td>
                      <td class="col-xs-2 col-sm-3 col-md-3 col-lg-3">
                        <%= link_to 'delete', {controller: :admin, action: :destroy_user, id: user.id}, data: {confirm: "Are you sure?"},
                                    method: :delete, class: 'btn btn-warning' %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


</body>
