
<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
      
  </head>
  <body>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script>
     

      function initMap() {
    "use strict"; 
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16
    });
    
    var infoWindow = new google.maps.InfoWindow({map:map});
    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function () {
        searchBox.setBounds(map.getBounds());
    });
    var markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function () {
        var places = searchBox.getPlaces();

        if (places.length === 0) {
            return;
        }

      // Clear out the old markers.
        markers.forEach(function (marker) {
            marker.setMap(null);
        });
        markers = [];

      // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function (place) {
            var icon = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
           
        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        service.getDetails({
          placeId: place.place_id
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
             
              
               markers.push(new google.maps.Marker({
                map: map,
                title: place.name,
                position: place.geometry.location,
                animation: google.maps.Animation.DROP,
                clickable: true,
                zoom: 12,
                placeId: place.place_id

            }));
             
              for (var i = 0; i < markers.length; i++) {
                var marker = markers[i];
                    
            }
              
              
              marker.info = new google.maps.InfoWindow({
            content:  '<b>' + place.name + '</b>' + '<br/>' +  'LatLng: ' + place.geometry.location + '<br/>' + place.formatted_address + '<br/>' + '<button onclick="myFunction()">Save store</button>'
              });
            
              google.maps.event.addListener(marker, 'click', function() {
                  marker.info.open(map, this);
                
              });
          }
        });
        
            
            if (place.geometry.viewport) {
            // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
            } else {
                bounds.extend(place.geometry.location);
            }
        });    
        
        map.fitBounds(bounds);

    });
          
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                clickable: true
        });
        
            marker.info = new google.maps.InfoWindow({
            content: '<b>Your location</b>' + '<br/>' + 'Latitude: ' + position.coords.latitude + '<br/>' +  'Longitude: ' + position.coords.longitude
              });

              google.maps.event.addListener(marker, 'click', function() {
                  marker.info.open(map, marker);
              });
              infoWindow.close();
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
           

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLoPFs9gebrJjuQ7v8jBZj2RB-iNNeRWg&libraries=places&callback=initMap"
         async defer></script>
  </body>
</html>