<head>
    <% content_for :title, "DASHBOARD" %>
</head>

<body>

    <div class="top-content">

        <div class="inner-bg">


    		<div class="container">
    			<div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        	<h1 class="page-header"><strong>SMARTLIST STORE</strong></h1>
                    </div>
            </div>
    			<div class="row">
	    			<div class="col-sm-4">
	    				<div class="form-box">
	    					<p>ADD SALE</p>
	    				</div>
	    			</div>
	    			<div class="col-sm-4">
	    				<div class="form-box">
	    					<p>EDIT SALE</p>
	    				</div>
	    			</div>
	    			<div class="col-sm-4">
	    				<div class="form-box">
	    					<p>EDIT PROFILE</p>
	    				</div>
	    			</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
