<head>
    <% content_for :title, 'DASHBOARD STORE' %>
</head>

<body>

    <div class="top-content">

        <div class="inner-bg">


    		<div class="container">
    			<div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        	<h1 class="page-header"><strong>SMARTLIST STORE</strong></h1>
                    </div>
            </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-box">
              <%= link_to image_tag('sale_register_store.png', width: 200, height: 200, border: 0), {action: 'dashboard_store', controller: 'smartlist_app'}, {class: 'dock-item'} %>
              <p class="dashboard_category_title">ADD SALE</p>
              <p class="nospace">
                Register a new sale.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-box">
              <%= link_to image_tag('sale_edit_store.png', width: 200, height: 200, border: 0), {action: 'dashboard_store', controller: 'smartlist_app'}, {class: 'dock-item'} %>
              <p class="dashboard_category_title">EDIT SALE</p>
              <p class="nospace">
                Edit or delete your sales.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-box">
              <%= link_to image_tag('profile_store.png', width: 200, height: 200, border: 0), {action: 'dashboard_store', controller: 'smartlist_app'}, {class: 'dock-item'} %>
              <p class="dashboard_category_title">EDIT PROFILE</p>
              <p class="nospace">
                Edit your store profile.
              </p>
            </div>
          </div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
